# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron Builder的安装包输出
/release/
# 临时文件夹        
/temp/              
/tmp/
# 测试覆盖率报告
/coverage/
# Vite或Webpack缓存     
/.cache/